/*#region UI: SignIn */
.SignIn {
  display: flex;
  flex-direction: column;
  width: 28vw;

  .SignIn__title {
    margin: 10px 0;
  }

  .SignIn__buttons {
    display: flex;
    justify-content: space-between;
  }
}
/*#endregion /UI: SignIn */
