/*#region Page: CheckoutPage */
.CheckoutPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  min-height: 90vh;
  width: 55%;

  .CheckoutPage__header {
    border-bottom: 1px solid darkgrey;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;

    .CheckoutPage__header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .CheckoutPage__total {
    font-size: 36px;
    margin-left: auto;
    margin-top: 30px;
  }

  button {
    margin-left: auto;
    margin-top: 50px;
  }

  .CheckoutPage__test-warning {
    align-items: center;
    background-color: tomato;
    border: 4px solid rgb(202, 18, 18);
    border-radius: 8px;
    color: rgb(202, 18, 18);
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 2rem;
    padding: 2rem;
  }
}
/*#endregion /Page: CheckoutPage */
