/*#region UI: CartDropdown */
.CartDropdown {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
  width: 400px;
  z-index: 5;

  .CartDropdown__cart-items {
    display: flwx;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }
}
/*#endregion /UI: CartDropdown */
